{% import "macros.html" as macros with context %}
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4" id="login">
    <ul class="nav nav-tabs" id="login-tabs">
    {% for provider, form in forms.items() %}
      <li{{ ' class="active"'|safe if loop.first }}>
        <a href="#{{ form._prefix }}" data-toggle="tab">{{ provider.name }}</a>
      </li>
    {% endfor %}
    </ul>
    <div class="panel panel-default" id="login-panels">
      <div class="panel-body tab-content">
        {% for provider, form in forms.items() %}
        <div class="tab-pane{{ ' active'|safe if loop.first }}" id="{{ form._prefix }}">
          {{ macros.render_form(form) }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
