[run]
branch = true
source = evesrp
omit =
    evesrp/migrate/*

[paths]
source =
    src/evesrp
    .tox/*/lib/python*/site-packages/evesrp
    .tox/*/site-packages/evesrp

[report]
show_missing = false

[html]
directory = coverage-report
