[submodule "bootstrap"]
	path = thirdparty/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "fontawesome"]
	path = thirdparty/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
