### Static Files served to browser clients
# Compiled CSS
include src/evesrp/static/css/*.css src/evesrp/static/css/*.css.map
# Fonts
include src/evesrp/static/fonts/*.eot src/evesrp/static/fonts/*.ttf
include src/evesrp/static/fonts/*.svg src/evesrp/static/fonts/*.woff
include src/evesrp/static/fonts/*.woff2 src/evesrp/static/fonts/*.otf
# Compiled Javascript
include src/evesrp/static/js/evesrp.min.js
include src/evesrp/static/js/evesrp.min.js.map
include src/evesrp/static/js/formatters.min.js
include src/evesrp/static/js/formatters.min.js.map
# JSON translation files
include src/evesrp/static/translations/*.json
# Misc src/evesrp/static files
include src/evesrp/static/ZeroClipboard.swf
include src/evesrp/static/evesso.png
include src/evesrp/static/favicon.ico
### Templates
include src/evesrp/templates/*.html src/evesrp/templates/*.xml
### Translation files
recursive-include src/evesrp/translations messages.*
# Include Alembic files
include src/evesrp/migrate/alembic.ini
include src/evesrp/migrate/script.py.mako
