.popover-content {
  font-weight: normal;
}

td form button.close {
  float: none;
}

.twitter-typeahead .token-input.tt-input {
  height: 20px;
}

.hidden {
  display: none;
}

.input-group-btn .btn {
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

td.filterable a {
  color: #333;
}

.panel-body dl {
  margin-bottom: 0px;
}

table.collapse.in {
  display: table;
}

dl.spaced dd, dl.spaced dt {
  margin-top: 2px;
  margin-bottom: 2px;
}
