{% extends "base.html" %}
{% from "macros.html" import clipboard_button %}

{% block title %}{{ site_name }}: {{ gettext('API Keys') }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>API Keys</h3>
    <p>
    {% with %}
      {% if '-dev' in app_version %}
      {% set doc_url = "https://eve-srp.readthedocs.org/en/latest/api.html" %}
      {% else %}
      {% set doc_url = ("https://eve-srp.readthedocs.org/en/v" ~ app_version ~ "/api.html") %}
      {% endif %}
      {{ gettext('You can create API keys for this app\'s <a href="%(doc_url)s">external API</a> using the button below. This is unrelated to the official EVE API from CCP.', doc_url=doc_url) }}
    {% endwith %}
    </p>
    <table id="apikeys" class="table table-condensed">
        <tr>
          <th>{{ gettext('API Key') }}</th>
          <th>{{ gettext('Created') }}</th>
          <th>{{ gettext('Remove') }}</th>
        </tr>
        {% for key in current_user.api_keys %}
        <tr>
          <td class="key-button">
            {{ clipboard_button(key.hex_key, "bottom", "") }}
          </td>
          <td>{{ key.timestamp|datetimeformat(format='short') }}</td>
          <td>
            <form class="" method="post">
              {{ form.csrf_token }}
              {{ form.action(value='delete') }}
              {{ form.key_id(value=key.id) }}
              <button type="submit" class="close">&times;</button>
            </form>
          </td>
        </tr>
        {% else %}
        <tr>
          <td class="text-center" colspan="3">
            {{ gettext('No API keys have been created.') }}
          </td>
        </tr>
        {% endfor %}
      <tr>
        <td colspan="2">
        </td>
        <td class="">
          <form class="pull-right" method="post">
            {{ form.csrf_token }}
            {{ form.action(value='add') }}
            <button type="submit" class="btn btn-sm btn-info" id="createKey">{{ gettext('Create API Key') }}</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
