{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% for permission in ('submit', 'review', 'pay') %}
<div class="row" id="{{ permission }}">
  <div class="col-md-12">
    {% if permission == 'submit' %}
    <h2>Submitters</h2>
    {% elif permission == 'review' %}
    <h2>Reviewers</h2>
    {% elif permission == 'pay' %}
    <h2>Payers</h2>
    {% endif %}
  </div>
  <div class="col-md-8">
    <table class="table table-condensed">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Authentication Source</th>
        <th>Remove</th>
      </tr>
      {% for entity in division.permissions[permission]|map(attribute='entity') %}
      <tr>
        <td>{{ entity.name }}</td>
        {% if entity.users is defined %}
        <td>Group ({{ entity.users|length }})</td>
        {% else %}
        <td>User</td>
        {% endif %}
        <td>{{ entity.authmethod().name }}</td>
        <td>
          <form method="post">
            {{ form.csrf_token() }}
            {{ form.id_(value=entity.id) }}
            {{ form.permission(value=permission) }}
            {{ form.action(value='delete') }}
            <button class="close" type="submit">&times;</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-4">
    <form class="form-horizontal" role="form" method="post" autocomplete="off">
      <div class="form-group">
        <label class="col-md-2 control-label" for="add-{{ permission }}-name">Name</label>
        <div class="col-md-10">
          <input type="text" class="form-control entity-typeahead typeahead" id="add-{{ permission }}-name" name="name" autocomplete="off" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-default">Add {{ entity|capitalize }}</button>
        </div>
      </div>
      {{ form.csrf_token() }}
      {{ form.action(value="add") }}
      {{ form.permission(value=permission) }}
      {{ form.id_() }}
    </form>
  </div>
</div>
{% endfor %}
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/custom-typeahead.js') }}"></script>
{% endblock scripts %}
