{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>
    {{ code }}
    {% if code == 400 %}
    <small>{{ gettext('Bad Request') }}</small>
    {% elif code == 403 %}
    <small>{{ gettext('Forbidden') }}</small>
    {% elif code == 404 %}
    <small>{{ gettext('Not Found') }}</small>
    {% elif code == 500 %}
    <small>{{ gettext('Internal Server Error') }}</small
    {% elif code == 503 %}
    <small>{{ gettext('Service Unavailable') }}</small>
    {% endif %}
  </h1>
  <p>{{ description }}</p>
</div>
{% endblock content %}
