{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed">
      <tr>
        <th>Request ID</th>
        <th>Pilot</th>
        <th>Ship</th>
        <th>Status</th>
        <th>Payout</th>
        <th>Submit Time</th>
        <th>Division</th>
      </tr>
      {% for request in requests %}
      <tr class="{{ macros.status_color(request.status) }}">
        <td><a href="{{ url_for('request_detail', request_id=request.id) }}">{{ request.id }}</a></td>
        <td>{{ request.pilot }}</td>
        <td>{{ request.ship_type }}</td>
        <td>{{ request.status|capitalize }}</td>
        <td>{{ request.payout }}</td>
        <td>{{ request.timestamp.strftime('%d %b %Y %H:%M') }}</td>
        <td>{{ request.division.name }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
