{% extends "list_requests.html" %}

{% block head %}
{{ super() }}
<meta name="csrf_token" content="{{ csrf_token() }}">
{% endblock head %}

{% block table_headers %}
{{ request_header('pilot', 'Pilot', 'paste') }}
{{ request_header('id', 'Request ID (copy)', 'paste') }}
{{ request_header('payout', 'Payout', 'paste') }}
{{ request_header(None, 'Mark Paid', 'paid') }}
{{ request_header('id', 'Request ID (link)') }}
{{ request_header('status', 'Status') }}
{{ request_header('division', 'Division') }}
{% endblock table_headers %}

{% macro clipboard_button(value) %}
<button class="btn btn-default btn-sm copy-btn" data-clipboard-text="{{ value }}" title="Copy {{ value }}">{{ value }}</i></button>
{% endmacro %}

{% block table_row %}
{{ request_cell('pilot', clipboard_button(request.pilot.name)) }}
{{ request_cell('id', clipboard_button(request.id)) }}
{{ request_cell('payout', clipboard_button(request.payout)) }}
<td>
  <form method="post" action="{{ url_for('requests.request_detail', request_id=request.id) }}">
    {{ form.id_ }}
    {{ form.type_(value='paid') }}
    {{ form.csrf_token }}
    <button class="btn btn-success btn-sm paid-btn" type="submit">Paid</button>
  </form>
</td>
<td class="col-id"><a href="{{ url_for('requests.request_detail', request_id=request.id) }}">{{ request.id }}</a></td>
{{ request_cell('status', request.status|capitalize) }}
{{ request_cell('division', request.division.name) }}
{% endblock table_row %}
