<div class="option">
{{#compare sign '='}}
{{else}} <small class="text-muted">
{{#compare sign '-'}}
not</small>
{{else}} {{#compare sign '<'}}
before</small>
{{else}} {{#compare sign '>'}}
after</small>
{{/compare}}
{{/compare}}
{{/compare}}
{{/compare}}
{{realValue}}</div>
