{{#if pending}}
<li>
  <a href="/request/pending/">Pending <span class="badge hidden-sm">{{counts.pending}}</span></a>
</li>
{{/if}}
{{#if payouts}}
<li>
  <a href="/request/pay/">Pay Outs <span class="badge hidden-sm">{{counts.payouts}}</span></a>
</li>
{{/if}}
{{#if completed}}
<li>
  <a href="/request/completed/">Completed</a>
</li>
{{/if}}
