<button type="submit" id="comment" class="btn btn-default">{{gettext "Comment"}}</button>
{{#each this.valid_actions}}
  {{#if @first}}
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  <span class="caret"></span>
  <span class="sr-only">{{gettext "Toggle Dropdown"}}</span>
</button>
<ul class="dropdown-menu" role="menu">
  {{/if}}
  <li>
    <a href="#" id="{{this}}">{{gettext (capitalize this)}}</a>
  </li>
{{#if @last}}
</ul>
{{/if}}
{{/each}}
